/node_modules
/public/hot
/public/vendor/
/public/storage
/public/assets
/storage/*.key
/vendor
/.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.bash_history
.composer
_ide_helper*
/docker/dbdata
composer.lock